

<div class="container">

<h4> WELCOME </h4>

<div class="about-me">

 <h1 class="name">< Tobia Cassandr<span class="blink">_</span> /></h1>

<p> <%=@dob %> </p>

<p><%= @email %> </p> 

<p> <%=@address %> </p>

</div>

</div>