

<div class="homepage-image"> <% image_tag('flower.jpg', class: 'homepage-image')%> </div>


<p> i thought about you every time i jerked off, dickhead. did you hear about the happy roman? he was "glad he ate her." did you hear about the happy roman? he was "glad he ate her." two little mice fell in a bucket of cream. the first mouse quickly gave up and drowned. the second mouse, wouldn't quit. he struggled so hard that eventually he churned that cream into butter and crawled out. gentlemen, as of this moment, i am that second mouse. what do you want me to say, that i'm sorry? that i apologize? well, people in hell want ice water, pal. this is america, babe, you gotta think big to be big. you're talking to me all wrong... it's the wrong tone. you do it again and i'll stab you in the face with a soldering iron. hey, tell me, does your mother sew? boom. get her to sew that! you know why the yankees always win, frank? it's 'cause the other teams can't stop staring at those damn pinstripes. this is america, babe, you gotta think big to be big. i don't know what you want, but i know i can get it for you, with a minimum of fuss! money, jewels, a *very* big ball of string. did you hear about the happy roman? he was "glad he ate her." you know why the yankees always win, frank? it's 'cause the other teams can't stop staring at those damn pinstripes. ,</p>
