
<h1>TOBIA CASSANDRO</h1>

            <h2>Objective</h2>

                <p>Creative entrepreneur, looking for a new challenge utilising my law qualifications and legal experience.  
Having spent recent years working independently, being entirely self-starting, and managing a successful business, I am now seeking a position in the legal profession. Bringing a varied skill set from design, retail, media and legal roles, I am eager for a fresh opportunity to focus my energy. </p>