body {
  background-color: white;
  font-family: 'San Francisco Display', sans-serif;
  color: black;
}

.container {
  width: 60%;
  height: 60%;
  text-align: center;
  margin:0 auto;
}

h1 {
  text-align: center;
  font-size: 75px;
  font-family: 'Menlo';
}

h2{
  text-align: center;
}

.nav-link{
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

li {
  display: inline-block;
  padding: 1%;
  text-align: center;
}

p {
  font-size: 14px;
  padding: 1px;
  text-align: center;

}

.home_page {
  width: 75%;
  text-align: center;
  margin:0 auto;
  background-image: url("blue.jpg");
}

.about {
  width: 75%;
  text-align: center;
  margin:0 auto;
  background-image: url("redback.jpg");}

.interests {
  width: 75%;
  text-align: center;
  margin:0 auto;
  background-image: url("green.jpg");
}

.work {
  width: 55%;
  text-align: center;
  margin:0 auto;
  background-image: url("foggy.jpg");
  color: black;
}

.music {
  width: 75%;
  text-align: center;
  margin:0 auto;
  background-image: url("blur.jpg");
}

.about-me {
  height: 50%;
  width: 50%;
  margin:0 auto;
}

.about{
  font-family: "Droid Sans";
}
.name {
  color: gray;
  font-size: 25px;
}

.blink {
  color: #d88;
  font-size: 1.5em;
  animation: blink-anim 1s ease 0s infinite alternate;
}

@keyframes blink-anim {
  from { opacity: 1; }
  to { opacity: .3; }
}